- namespace = local_assigns.fetch(:namespace)
- minutes_quota = namespace.ci_minutes_quota

- if namespace.shared_runners_enabled?
  %li
    %span.light Pipeline minutes quota:
    %strong
      = ci_minutes_report(minutes_quota.monthly_minutes_report)
      = link_to icon('question-circle'), help_page_path("user/admin_area/settings/continuous_integration", anchor: "shared-runners-pipeline-minutes-quota-starter-only"), target: '_blank'
